body{
  background-color: moccasin;
}

.cntr {
  position: relative;
  width: 50vw;
  height: auto;
  overflow: hidden;
  display: block;
  transform: scale(1.88);
  margin: auto;
  padding-top: 16px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0;
}

#videoInput {
  width: 100vw;
  height: auto;
  margin-left: -25vw;
  margin-top: -12.5vh;
  margin-bottom: -12.5vh;
}

/* .res {
  position: relative;
  margin: auto;
  background-color: #ffeac8;
  top: 25px;
  width: 100vw;
  height: auto;
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0;
}

p {
  text-align: center;
  color: #b9780e;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  
} */