#canvasRoi {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 54%;
}

#canvasgray {
  position: absolute;
  left: 0px;
  top: 54%;
  width: 100%;
  height: 46%;
}

#frame {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 54%;
  z-index: 1;
}
